<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emprunt</title>
</head>
<body>

<h2>Créer un emprunt</h2>
<form method="post">
  {% csrf_token %}
  Membre :
  <select name="membre">
    {% for membre in membres %}
      <option value="{{ membre.id }}">{{ membre.nom }}</option>
    {% endfor %}
  </select><br>

  Média :
  <select name="media">
    {% for media in medias %}
      <option value="{{ media.id }}">{{ media.titre }} ({{ media.type }})</option>
    {% endfor %}
  </select><br>

  <input type="submit" value="Emprunter">
</form>

</body>
</html>