<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Liste des Médias</title>
</head>
<body>
    <h1>Liste des Médias</h1>
    <a href="{% url 'media_create' %}">Ajouter un Média</a>
    <ul>
        {% for media in medias %}
        <li>{{ media.titre }} ({{ media.type_media }}) - {% if media.disponible %}Disponible{% else %}Indisponible{% endif %}</li>
        {% empty %}
        <li>Aucun média trouvé.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>
