<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Liste des Membres</title>
</head>
<body>
    <h1>Liste des Membres</h1>
    <a href="{% url 'membre_create' %}">Ajouter un Membre</a>
    <ul>
        {% for membre in membres %}
        <li>{{ membre.prenom }} {{ membre.nom }} - Email : {{ membre.email }}</li>
        {% empty %}
        <li>Aucun membre trouvé.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>
